.root {
  background-color: var(--primary-color);
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 25fr 2fr repeat(3, 1fr);
  gap: 4px;
  margin: 0 auto;
  align-items: center;
}

.root div {
  height: 80%;
}

.logo {
  background-color: var(--primary-500-color);
}

.input {
  background-color: var(--background-color);
}

.inputLogo {
  background-color: var(--primary-300-color);
}

.items {
  background-color: var(--primary-500-color);
}

@media (max-width: 991px) {
  .box5 {
    display: none;
  }

  .box6 {
    display: none;
  }

  .wrapper {
    grid-template-columns: 2fr 7fr 1fr 1fr;
  }
}
