.scorePoint {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 10px;
}

.ships {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.shipContainer {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.ship {
  height: 80px;
  margin: 5px;
}

.hitMissPointContainer {
  display: grid;
  grid-template-columns: repeat(5, 30px);
  justify-items: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.hitmiss {
  width: 20px;
}

@media (min-width: 992px) {
  .scorePoint {
    width: 50%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
  }

  .ships {
    grid-gap: 0px;
  }

  .hitmiss {
    width: 20px;
  }

  .ship {
    height: 80px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hitMissPointContainer {
    grid-template-columns: repeat(5, 13px);
  }

  .scorePoint {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0px;
  }

  .ships {
    grid-gap: 0px;
  }

  .hitmiss {
    width: 13px;
  }

  .ship {
    height: 39px;
  }
}

@media (max-width: 576px) {
  .root {
    width: 100%;
    height: 150px;
    grid-template-columns: repeat(2, 1fr);
  }

  .hitMissPointContainer {
    grid-template-columns: repeat(5, 10px);
  }

  .scorePoint {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0px;
  }

  .ships {
    grid-gap: 0px;
  }

  .hitmiss {
    width: 10px;
  }

  .ship {
    height: 32px;
  }
}
